mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row.row-footer-lg
				.col-sm-auto.d-none.d-md-block
					+e.logo(href="#") 
						include logo.svg
				.col-sm.col-6
					.columns-2
						ul
							li: a(href="#")  Инвестиции в майнинг
							li: a(href="#")  Дата-центр
							li: a(href="#")  Лизинг
							li: a(href="#")  Разгоны ASIS 
							li: a(href="#")  Готовый бизнес
				.col-xl-3.col-sm-auto.col-6
					.columns-1
						ul
							li: a(href="#") Оплата и доставка
							li: a(href="#") О компании
							li: a(href="#") Сервис
							li: a(href="#") Блог
							li: a(href="#") Контакты
				.col-sm-auto
					.row.row-footer-lg
						.col-sm-12.col-6.text-sm-start.text-end
							a.top-nav__tel(href="+7(499)-719-55-88").text-body +7 (499) 719-55-88
								br
							a.top-nav__link.tdu(data-fancybox data-type="ajax" href="modal/call.html").text-body Заказать звонок
						.col-sm-12.col-6
							p Есть вопросы? 
								br
								span.d-md-inline.d-block Пишите нам:  
								| #[a(href="#") WhatsApp]  / #[a(href="#") Telegram]

			+e.policy
				.row.align-items-center
					.col-auto.d-md-none
						+e.logo(href="#") 
							include logo.svg
					.col 2023 © Mining Depot. Все права защищены. Не является публичной офертой.  #[a(href="#") Политика конфиденциальности]