.footer {
		background: #eef0f0;
	margin-top: auto;
// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(43)};
		}
		--bs-gutter-y: var(--bs-gutter-x);

	}
	font-weight: 300;
	font-size: rem(17);
		a{
			color: $body-color;
		}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	&__logo{
		filter: grayscale(1);
		@include media-breakpoint-up(xl){
			margin-right: 80px;
		}
	}
	ul{
		list-style: none;
	}
	.columns-1{
		a{
			color: #6D6D6D;
			font-size: rem(15);
		}
	}
	.columns-2{
		ul{
			@include media-breakpoint-up(lg) {
				columns: 2;
			}
		}
		li{
			margin-bottom: 5px;
			font-size: rem(15);
			@include media-breakpoint-up(sm) {

				font-size: rem(17);
			}

		}
	
	}
	.top-nav__tel{
		font-size: rem(21);
	}
	.top-nav__link{
		font-size: rem(17);
	}
	p{
		margin-top: 20px;
		font-size: rem(15);
		a{
			@extend .tdu;
		}
	}
	&__policy{
		padding-top: rem(30);
		padding-bottom: rem(30);
		color: #6D6D6D;
		border-top: 1px solid #E1E1E1;
		margin-top: rem(48);
		@include media-breakpoint-down(sm)  {
			font-size: 12px;
		}
		a{
			color: #6D6D6D;
			@extend .tdu;
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
