mixin sSubscribe(data)
	// start sSubscribe
	+b.SECTION.sSubscribe.section#sSubscribe&attributes(attributes)
		.container
			+e.wrap
				+e.row.row
					.col-6
					+e.text.col-6
						h2 Подпишитесь на&nbsp;Telegram
						p Обзор майнинга в&nbsp;России, актуальные кейсы, скидки и&nbsp;акции от&nbsp;Mining Depot
						+btn('Подписаться на канал').btn.btn-white
	// end sSubscribe