mixin sWorkForYou(data)
	// start sWorkForYou
	+b.SECTION.sWorkForYou.section#sWorkForYou&attributes(attributes)
		.container
			+e.row.row
				.col-xl-6
					+img("img/sWorkForYou-img.jpg")
				+e.col.col-xl-6
					h2 Работаем, чтобы вы майнили
					p Мы&nbsp;поставляем и&nbsp;обслуживаем оборудование для майнинга криптовалюты с&nbsp;2017&nbsp;года. Напрямую работаем с&nbsp;брендами #[strong Bitmain, Innosilicon, MicroBT, Goldshell]. 
					p Наши клиенты не&nbsp;отвлекаются на&nbsp;технические вопросы, а&nbsp;добывают криптовалюту&nbsp;&mdash; и&nbsp;получают стабильных доход.
					+e.group.row
						+e.item.col-sm-6
							+e.title 2000+
							p Добровольных клиентов
						+e.item.col-sm-6
							+e.title 10 000
							p Майнеров поставляем в год
						+e.item.col-sm-6
							+e.title 15
							p Специалистов в команде
						+e.item.col-sm-6
							+e.btn.btn.btn-primary(href="#") Узнать о нас больше
	// end sWorkForYou