
	// start .sContact
	.sContact {
	--sPT: #{rem(63)};
	// --sPB: #{rem()};
	--sTPB: #{rem(0)};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	&__wrap {
		display: block;
		@include media-breakpoint-up(md) {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: repeat(4, auto);
			gap: 30px;
		}
		@include media-breakpoint-up(lg) {
			grid-template-columns: auto 60%;
			grid-template-rows: repeat(5, 1fr);
		}
	}
	.section-title{
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		@include media-breakpoint-up(lg) {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}
	h2 {
		margin-bottom: 38px;
		color: #000;
		font-family: $font-family-monospace;
		font-size: rem(32);
		font-weight: 600;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			font-size: rem(50);
		}
	}
	&__col{

	}
	&__item{
		margin-bottom: 37px; 
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		a:hover {
			color: $primary;
		}
		&--addr {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			// @include media-breakpoint-up(lg) {
			// 	grid-column: 1 / 2;
			// 	grid-row: 2 / 3;
			// }
		}
		&--tel {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			@include media-breakpoint-up(lg) {
				grid-column: 1 / 2;
				grid-row: 3 / 4;
			}
		}
		&--mail {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			@include media-breakpoint-up(lg) {
				grid-column: 1 / 2;
				grid-row: 4 / 5;
			}
		}
	}
	&__item-name {
		margin-bottom: 10px;
		color: $gray-500;
		font-size: rem(18);
		font-weight: 300;
	}
	&__item-def {
		font-size: 20px;
		font-weight: 500;
	}
	&__social {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		align-self: end;
		margin-bottom: 65px;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			grid-column: 1 / 2;
			grid-row: 5 / 6;
			align-self: center;
		}
	}
	&__btn{
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		display: inline-flex;
		@include media-breakpoint-up(lg) {

			font-size: rem(17);
		}
		font-size: rem(14);
		height: em(47);
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-weight: 600;
		@include media-breakpoint-up(xl) {
			min-width: rem(55);
		}
		color: $primary !important;
		.iconC{
			font-size: em(18);
		}
		.icon{
			font-size: rem(18);
			&-compare{
				fill: none;
				stroke:  currentColor;
			}

		}
		path{
			fill: currentColor !important;
		}
		@include media-breakpoint-up(xl) {
			&--catalog{		
				width: rem(180);
			}
		}
		.iconC-menu{
			font-size: em(12);
			margin-right: em(18);
		}
	}
	&__map {
		position: relative;
		grid-column: 1 / 3;
		grid-row: 4 / 5;
		height: 416px;
		border-radius: 15px;
		overflow: hidden;
		& > * {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
		}
		@include media-breakpoint-up(md) {
			height: 375px;
		}
		@include media-breakpoint-up(lg) {
			height: auto;
			grid-column: 2 / 3;
			grid-row: 1 / 6;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact