@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-basketB {
	--h: 29;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(29 / var(--h) *1em );
}
.iconC-chevron-right {
	--h: 12;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(7 / var(--h) *1em );
}
.iconC-icon-1 {
	--h: 45;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(43 / var(--h) *1em );
}
.iconC-icon-2 {
	--h: 47;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(46 / var(--h) *1em );
}
.iconC-icon-3 {
	--h: 49;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(49 / var(--h) *1em );
}
.iconC-icon-4 {
	--h: 54;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(55 / var(--h) *1em );
}
.iconC-logo {
	--h: 34;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(48 / var(--h) *1em );
}
.iconC-logotext {
	--h: 17;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(134 / var(--h) *1em );
}
.iconC-menu {
	--h: 15;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(19 / var(--h) *1em );
}
.iconC-star {
	--h: 10;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(10 / var(--h) *1em );
}
.iconC-telegram {
	--h: 22;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(22 / var(--h) *1em );
}
