@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-chevron-right {
	--h: 12;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(7 / var(--h) *1em );
}
.iconC-logo {
	--h: 34;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(48 / var(--h) *1em );
}
.iconC-logotext {
	--h: 17;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(134 / var(--h) *1em );
}
.iconC-menu {
	--h: 15;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(19 / var(--h) *1em );
}
.iconC-telegram {
	--h: 22;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(22 / var(--h) *1em );
}
