mixin sData(data)
	// start sData
	+b.SECTION.sData.section#sData&attributes(attributes)
		.container
			+b.section-title
				h2 Идеальный микроклимат
			+e.row.row
				.col-6
					p В&nbsp;ходе работы майнеры сильно нагреваются. Чтобы они не&nbsp;вышли из&nbsp;строя, нужна промышленная система охлаждения и&nbsp;кондиционирования. 
					p В&nbsp;нашем дата-центре поддерживаются оптимальные температура и&nbsp;влажность&nbsp;&mdash; для долгой, безопасной, беспроблемной эксплуатации.Наш дата-центр находится в&nbsp;Красноярске, городе с&nbsp;холодным сибирским климатом и&nbsp;доступным электричеством.
				.col-6
					
			+e.row.row
	// end sData