mixin sData(data)
	// start sData
	+b.SECTION.sData.section#sData&attributes(attributes)
		.container
			+e.article.ARTICLE
				+b.section-title
					h2 Идеальный микроклимат
				+e.row.row
					.col-lg-6
						p В&nbsp;ходе работы майнеры сильно нагреваются. Чтобы они не&nbsp;вышли из&nbsp;строя, нужна промышленная система охлаждения и&nbsp;кондиционирования. 
						p В&nbsp;нашем дата-центре поддерживаются оптимальные температура и&nbsp;влажность&nbsp;&mdash; для долгой, безопасной, беспроблемной эксплуатации.
						p Наш дата-центр находится в&nbsp;Красноярске, городе с&nbsp;холодным сибирским климатом и&nbsp;доступным электричеством.
					.col-lg-6
						ul.checklist
							li Автоматическая подача холодного и&nbsp;отведение горячего воздуха благодаря датчикам.
							li Прямое воздушное охлаждение для защиты от&nbsp;перегрева.
							li Система фильтрации для очистки воздуха от&nbsp;пыли.
			+e.article.ARTICLE
				+b.section-title
					h2 Электричество без сбоев
				p В&nbsp;ходе работы майнеры сильно нагреваются. Чтобы они не&nbsp;вышли из&nbsp;строя, нужна промышленная система охлаждения и&nbsp;кондиционирования. В&nbsp;нашем дата-центре поддерживаются оптимальные температура и&nbsp;влажность&nbsp;&mdash; для долгой, безопасной, беспроблемной эксплуатации.
				+sIcons04
			+e.row.row
				.col-lg-6
					+e.article.ARTICLE
						+b.section-title
							h2 Мы всегда рядом
						p Специалисты круглосуточно следят за&nbsp;тем, чтобы оборудование работало исправно. В&nbsp;этом помогают специальные программы для мониторинга.
						ul.checklist
							li Дежурим на&nbsp;объекте даже ночью, в&nbsp;выходные и&nbsp;праздники.
							li Если что-то идёт не&nbsp;так&nbsp;&mdash; находим и&nbsp;устраняем причину.
							li Отвечаем на&nbsp;вопросы в&nbsp;мессенджерах и&nbsp;по&nbsp;электронной почте 24/7.
						p Если хотите увидеть дата-центр своими глазами&nbsp;&mdash; свяжитесь с&nbsp;нами, и&nbsp;мы&nbsp;организуем экскурсию
				.col-lg-6
					+e.article.ARTICLE
						+b.section-title
							h2 Круглосуточная охрана
						p Вы&nbsp;можете быть спокойны за&nbsp;сохранность оборудования: дата-центр находится на&nbsp;режимном объекте, где всё под контролем.
						ol
							li Вход закрыт от&nbsp;посторонних
							li Видеонаблюдение 24/7
	// end sData