mixin headerBlock(img,h1,descr)
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+b.section-title
				+img(`img/${img}.png`)
				h1!= h1
				p!= descr
				a.btn.btn-white(data-fancybox data-type="ajax" href="modal/call.html") Оставьте заявку
	// end headerBlock