// start .sAbout
.sAbout + .sIcons{
	
	--sPT: #{rem(0)};
}
.sAbout {
	@include media-breakpoint-down(md){
		--sPT: #{rem(0)};

	}
	// --sPT: #{rem()};
	--sPB: #{rem(110)};
	// --sTPB: #{rem()};
	padding-bottom: 0;
	&__bg-wrap{
		@include media-breakpoint-up(md){
			position: static;
			aspect-ratio: 0;
		}
		@include media-breakpoint-up(sm){
			// padding-bottom: 0;
			aspect-ratio: 5 / 3 ;
			height: auto;
		} 
			height: 340px;
		aspect-ratio: 5 / 4 ;
		position: relative;
		&::before{
			content: '';
			z-index: -1;
			background-repeat: no-repeat;
			bottom: 0;
			--w: 1600;
			left: 50%;
			@include media-breakpoint-up(lg) {
				margin-left: calc(var(--w) * 1px / -2);
			}
			@include media-breakpoint-up(md) {
				margin-left: calc(var(--w) * 1px / -2 + 70px);
			}
			@include media-breakpoint-up(sm) {
			margin-left: calc(var(--w) * 1px / -2 + 60%);
		}
		margin-left: calc(var(--w) * 1px / -2 + 60%);
			aspect-ratio: 661 / var(--w);
			width: calc(var(--w) * 1px);
			bottom: 0;
			display: block;
			pointer-events: none;
			position: absolute;
			background-image: url(../img/map-bg.png);
			background-repeat: no-repeat;
			// background-size: contain;
			background-position: bottom center;
		}
	}
	.container{
		padding-bottom:  var(--sPB);
		z-index: 2;
		position: relative;
		

	}

	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		@include media-breakpoint-up(lg) {
			max-width:rem(612);
		}
		
		@include media-breakpoint-up(md) {
			max-width: 60%;
		}

		margin-left: auto;
	}
	font-size: rem(19); 
	a{
		font-weight: 600;
		// border-bottom: 1px solid #000;
		// @extend .tdu;
		border-bottom: 1px solid ;
		position: relative;
		&::after{
			content: '';
			width: em(9px  * .9);
			height: em(15px  * .9);
			background-image: var(--chevron-right-info);
			background-size: contain;
			background-repeat: no-repeat;
			left: 100%;
			top: em(5);
			position: absolute;
			margin-left: 10px;
		}
		&:hover{
			border-color: transparent;
		}
		color: $body-color;
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout

.sAboutPage {
	--sPT: #{rem(0)};
	// --sPB: #{rem(110)};
	// --sTPB: #{rem()};
	&__row {
		margin-bottom: 66px;
		--bs-gutter-y: #{rem(50)};
		// @include media-breakpoint-up(md) {
		// --bs-gutter-y: #{rem(50)};
		// }
	}
	h2 {
		font-family: Raleway;
		font-size: rem(33);
		font-weight: 600;
	}
	p {
		max-width: 617px;
		color: #232323;
		font-size: 18px;
		font-weight: 300;
		line-height: 150%;
	}
	&__client-list {
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}
	&__client-item {
		display: flex;
		align-items: center;
		padding: 24px 0;
		border-bottom: 1px solid $light;
		text-wrap: balance;
		img {
			margin-right: 33px;
			width: 50px;
			height: 50px;
		}
	}
	&__client-title {
		font-size: 20px;
		font-weight: 500;
		line-height: 135%;
	}
	&__client-descr {
		font-weight: 300;
		line-height: 130%;
	}
	&__services-list {
		list-style-type: none;
		@include media-breakpoint-up(lg) {
			columns: 2;
			column-gap: 10%;
		}
		li {
			position: relative;
			padding-left: 40px;
			margin-bottom: 30px;
			font-size: rem(18);
			font-weight: 300;
			line-height: 150%;
			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				top: 10px;
				left: 0;
				width: 21px;
				height: 15px;
				background-image: url('../img/list-marker.svg');
			}
		}
	}
}