mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.bg-wrap
			+b.section-title
				h2 О дата-центре
				p Мы&nbsp;разместим ваше оборудование в&nbsp;дата-центре в&nbsp;Красноярске. 

				p Здесь холодный сибирский климат и&nbsp;низкие тарифы на&nbsp;электричество&nbsp;&mdash; идеальные условия для майнинга. Можем организовать экскурсию на&nbsp;объект, чтобы вы&nbsp;всё увидели сами.
				a(href="#") Изучить подробности 
	// end sAbout