extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
 
include ../blocks/sContact/_sContact.pug 
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sData/_sData.pug
include ../blocks/sIcons/_sIcons.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Дата-центр'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	//- a(data-fancybox data-type="ajax" href="modal/test.html") тест
	main
		+headerBlock(`data-header`,`Дата-центр`,`Вам не&nbsp;нужно самостоятельно арендовать помещение или устанавливать шумное оборудование дома&nbsp;&mdash; мы&nbsp;разместим ваш майнер в&nbsp;дата-центре. Возьмём на&nbsp;себя доставку, настройку, мониторинг и&nbsp;техническое обслуживание.`)
		+sData
	+parts('footer')



