extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug 
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sWorkForYou/_sWorkForYou.pug
include ../blocks/sProfit/_sProfit.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sStories/_sStories.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sLease/_sLease.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	//- a(data-fancybox data-type="ajax" href="modal/test.html") тест
	main
		+headerBlock(`head-img`,`Зарабатывайте на&nbsp;майнинге, пока мы&nbsp;заботимся о&nbsp;технике`,`Поможем выбрать оборудование, разместим его в&nbsp;мощном дата-центре, настроим и&nbsp;возьмём на&nbsp;себя обслуживание.`)
		+sIcons
		+sWorkForYou
		+sCatalogSlider({title: "Новинки"})
		+sProfit
		+sAbout
		+sIcons2
		+sCatalogSlider({title: "Бестселлеры"})
		+sStories
		.container
			.row(style="--bs-gutter-x: 60px")
				.col-xl-6
					+sRews
				.col-xl-6
					+sFAQ
		+sLease
		+sCatalogSlider({title: "Самые прибыльные"})
		+sForm
	+parts('footer')
      



