// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: 16px;

		}
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	
	.swiper-wrapper{
		// @include  row-sw()
	}
	&__slider-wrapper{
		// --gutter-x: #{rem(30)};
		// margin-left: calc(var(--gutter-x) / -2  );
		// margin-right: calc(var(--gutter-x) / -2 );
		// @include media-breakpoint-up(xl) {
			
		// 	margin-top: -30px;
		// 	margin-bottom: -30px;
		// }
	}
&__track{
		@include media-breakpoint-up(xl) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		@include media-breakpoint-down(xxl) {
			overflow: visible;
		}
	}
	&__slide{ 
	
    // --gutter-x: #{rem(30)};
			width: calc(#{rem(250px)});
			// padding-left: calc(var(--gutter-x) / 2 );
			// padding-right: calc(var(--gutter-x) / 2 );  


	}

	.swiper-scrollbar{
		bottom: -20px;
		margin-left: calc(var(--gutter-x) / 2  );
		margin-right: calc(var(--gutter-x) / 2 );
		width: calc(100% - var(--gutter-x));
	}

	&__toggle-filter{
		cursor: pointer;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		.icon{
			font-size: 22px;
			margin-right: 10px;
		}
	}
	&__head-row{
		align-items: center;
		margin-bottom: rem(36);
		--bs-gutter-y: 15px;
		.btn{
			font-weight: 400; 
			padding: em(8) em(20);
			font-size: rem(10);
			border-radius: em(8);
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
			}
			margin-top: 3px;
			margin-bottom: 3px;
			--bs-btn-bg: #F1F2F2;
			--bs-btn-border-color: #F1F2F2;
			&:not(:last-child) {
				@include media-breakpoint-up(sm) {

					margin-right: rem(20);
				}
				margin-right: rem(5);
			}
		}
		.form-select{
			border:  none !important;
			padding: 0;
			font-weight: 300;
			padding-right: rem(25);
			background-position: right  center;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	
	&--page{
		@include media-breakpoint-down(sm) {
			.product-item__footer{
				display: block;
			}
			.product-item__btn{
				margin-top: 16px;
				width: 100%;
				margin-bottom: 10px;
			}
			.product-item__btns {
				position: absolute;
				bottom: 10px;
				width: 100%;
				text-align: center;
			}
			.product-item{
			}
		}
	}
} // end.sCatalog

.prod-tags{
	&__item{ 
		color: #fff;
		margin-right: rem(17);
		position: relative;
		background: var(--bg);
		border-radius: 5px 0px 0px 5px;
		padding-left: 12px;
		padding-right: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: rem(22);
		text-transform: uppercase;
		font-size: rem(11px);
		padding-top: rem(3);
		&::after{
			content: '';
			position: absolute;
			left: calc(100% - 1px);
			top: 0;
			height: 100%;
			width: rem(12);
			background: var(--bg);
			clip-path: polygon(0% 0%, 2px 0, 100% 50%, 2px 100%, 0% 100%);
		}
	}
}

.product-item{
	
	.prod-tags{
		position: absolute;
		left: rem(17);
		top: 0;
		z-index: 5;
	}
	display: flex;
	flex-direction: column;
	min-height: 100%;
	border-radius: 15px;
	background: #FFF;
	overflow: hidden;
	position: relative;
	padding: rem(20px) rem(10px) rem(40);
	@include mt;
	border: 1px solid var(--light-gray, #D5DFDF);
	&:hover{
		border-color: #fff;
		box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
	}
	&__img-wrap{
		@include block(186, 220);
		display: block;
	}
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		// padding: rem(20);
	}
	&__head{
		align-items: center;
	}
	&__rating{
		// align-self: flex-start;
		display:  flex;
		font-size: rem(13);
		align-items: center;
		.iconC{
			font-size: 10px;
			margin-right: 3px;
		}
	}
	&__btn-icon{
		padding: 0 rem(3);
		border: none;
		color: $secondary;
		height: auto;
		.icon{
			font-size: rem(18);
			&-compare{
				fill: none;
				stroke: currentColor;
			}
		}
		&.active,
		&:hover{
			color: $primary;
		}
	}
	&__title{
		font-weight: 600;
		margin-bottom: 4px;
		font-size: rem(15);
	}
	&__text{
		font-size: rem(13);
		margin-bottom: auto;
		padding-bottom: 13px;
	}
	&__stock{
		background:   $warning;
		font-size: rem(13px); 
		font-weight: 600;
		padding: rem(1) rem(3);
		border-radius: 5px;
		margin-right: 5px;
	}
	&__price-old{
		// text-decoration: line-through;
		font-size: rem(13px); 
		font-weight: 600; 
		letter-spacing: -0.01em;
		text-decoration: underline; 
		color: #B1B1B1;
	}
	&__price{
		font-size: rem(19px);
		font-weight: 600;
	}

}

.card-slider{
	@include a-cent;
	&__img-slider{
		height: 100%;
	}
	&__img-wrap{
		@include block( 186, 220);
	}

	.splide__pagination__page {
		position: relative;
		width: 100%;
		// height: 2px;
		margin: 0 3.5px;
		flex-grow: 1;
		background-color: transparent;
		border-radius: 0;
		background-color: transparent !important;
		transform: none !important;
		@include media-breakpoint-up(sm) {
			height: 100%;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $secondary;
			border-radius: 0;
			left: 0;
			bottom: 0;
			@include mt;
		}
		&.is-active{
			
			&:before {
				background-color: $body-color;
			}
		}
		// &:hover {
		// 	pointer-events: none;
		// 	z-index: -1;
		// }
	}
	.splide__pagination{
		li{
			flex-grow: 1	;
			height: 100%;
			display: flex;
		}
		bottom: 0;
		display: flex;
		@include media-breakpoint-up(sm) {
			height: 100%;
		}
	}
}

.btn-outline-primary{
	--bs-btn-color: var(--bs-body-color);
}

.product-item--base{
	padding: rem(33) rem(27);
	&:hover{
		border-color: $primary;
		box-shadow: none;
	}
	.product-item__title{
		font-size: 1rem;
		font-weight: 700;
	}
	.product-item__price{
		font-size: 1rem;
		font-weight: 400;
	}
}