// start .sFAQ
.sFAQ {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__body{
		&:not(.active){
			display: none;
		}
		padding-top: 5px;
		padding-bottom: 25px;
		p{
			font-size: rem(18);
			font-weight: 300;
		}
	}
	&__head{
		border-bottom: 1px solid #D5DFDF;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 40px;
		position: relative;
		font-weight: 600;
		font-size: rem(19);
		cursor: pointer;
		&::after{
			content: '';
			background-repeat: no-repeat;
			// background-size: contain;
			width: 17px;
			height: 12px;
			background-position: center center;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cpath d='M15.4803 0.998084L17 2.55453L8.5 11.2024L3.70816e-07 2.54578L1.5197 0.998083L8.5 8.107L15.4803 0.998084Z' fill='%237B53EF'/%3E%3C/svg%3E");
			right: 36px;  
			top: 50%;
			margin-top: -4px;
			transform: rotateX(var(--a),0);
			position: absolute;
			@include mt; 
		}
	}
	&__item.active {
		.sFAQ__head:after {
			
			transform: rotateX(180deg);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFAQ