mixin sProdBody(data)
	// start sProdBody
	+b.sProdBody.section#sProdBody&attributes(attributes)
		.container
			mixin tr(key, val)
				tr
					td(colspan=(!val ? "2" : ''))!= key
					if val
						td!= val
			.tabs
				.tabs__caption
					.tabs__btn.active Описание
					.tabs__btn Отзывы 
					.tabs__btn Характеристики
					.tabs__btn Доставка и оплата 
				.tabs__content.active
					h3 Asis майнер Whatsmener M50 114th
					h5 О товаре
					p Bitmain анонсировала это поколение в 2021 году. Тогда и сейчас L7 считается поистине народным майнером, который практически сразу же полюбили массы.
					h5 Какую криптовалюту можно добывать
					p Antminer L7 поддерживает алгоритм Scrypt и в первую очередь предназначен для майнинга Litecoin (LTC) и Dogecoin (DOGE), однако на нём можно добывать и другие токены. На данный момент эта модель самая мощная на алгоритме Scrypt в 2023 году.
					h5 Особенности оборудования
					p Данное оборудование имеет четыре вентилятора для охлаждения плат и дополнительные три вентилятора встроенные в блок питания. L7 также имеет функцию регулирования потока, который позволяет ему подстраиваться под текущий уровень затрат на электроэнергию — то есть устройство самостоятельно регулирует свою производительность, чтобы уменьшить потери от майнинга из-за высоких цен на электроэнергию. В целом данная модель практически ничем не отличается от S19, кроме повышенной мощности и разных алгоритмов работы.
				.tabs__content
					.h3 Отзывы
					mixin reviewItem(name, rating, text)
						+e.review-item
							+e.name!= name
							+b.review-wrap
								+e.stars(data-rating=rating)
									+icon('rateStar')
									+icon('rateStar')
									+icon('rateStar')
									+icon('rateStar')
									+icon('rateStar')
								span 07.11.2021
							p!= text
					+reviewItem('Игорь', 3, 'Кресло действительно достойно места в&nbsp;кабинете руководителя. Материалы качественные, выглядит внушительно, вместо пластика хромированные детали. В&nbsp;реальности лучше, чем на&nbsp;фото.')
					+reviewItem('Наталья', 5, 'Массивное, наимягчайшее, удобнейшее кресло! Порадовала продуманность производителя: офисное кресло RCH 9373 достаточно тяжелое, поэтому крестовина выполнена полностью из&nbsp;металла, шансов сломать практически никаких. И&nbsp;в&nbsp;нем даже есть механизм качания, так что приятно не&nbsp;только работать, но&nbsp;и&nbsp;отдохнуть. Экокожа мягкая, словно натуральная. Доставка от&nbsp;&laquo;Экспресс Офис&raquo;, на&nbsp;мой взгляд, просто обязательная&nbsp;&mdash; самим грузить такую красоту не&nbsp;стоит.')
					+e.send-review
						.h4 Ваш отзыв о товаре
						+e.review-row.row.align-items-center
							.col-md-auto
								.h6 Общая оценка
							.col-md
								.rating__group
									input#mood-1.rating__input(name='mood' type='radio' value='1')
									label.rating__star(for='mood-1' aria-label='Ужасно')
									input#mood-2.rating__input(name='mood' type='radio' value='2')
									label.rating__star(for='mood-2' aria-label='Сносно')
									input#mood-3.rating__input(name='mood' type='radio' value='3' checked='')
									label.rating__star(for='mood-3' aria-label='Нормально')
									input#mood-4.rating__input(name='mood' type='radio' value='4')
									label.rating__star(for='mood-4' aria-label='Хорошо')
									input#mood-5.rating__input(name='mood' type='radio' value='5')
									label.rating__star(for='mood-5' aria-label='Отлично')
									.rating__focus
						+e.review-row.row
							.col-md-auto
								.h6 Расскажите подробнее
							.col-md
								+input('Отзыв', 'textarea')
						+e.review-btn.btn.btn-outline-primary(href='#') Отправить
				.tabs__content
					.h3 Характеристики
					+e.characteristics-item
						.h4 Основные характеристики
						table
							+tr('Материал', 'эко-кожа')
							+tr('Цвет эко-кожи', 'черный, белый')
							+tr('Механизм качания', 'синхромеханизм')
							+tr('Подлокотники', 'алюминий полированный с накладками из мягкого пластика')
							+tr('Пятилучье', '720 мм, алюминий полированный, усиленное')
							+tr('Ролики', 'Ø50 PU, накладки хром')
							+tr('Гарантия', '1 год')
							+tr('Производитель', 'Рива Чейр')
					+e.characteristics-item
						.h4 Габариты
						table
							+tr('Ширина сиденья', '52 см')
							+tr('Глубина сиденья', '50 см')
							+tr('Высота спинки', '76 см')
							+tr('Диапазон регулировки', '45-53 см')
							+tr('Габариты изделия', '69х69х127 см')
							+tr('Габариты упаковки', '87х34х64 см')
							+tr('Вес', '22,2 кг')
							+tr('Объем', '0,19 м.куб.')
				.tabs__content
					.h3 Доставка и оплата
					+e.characteristics-item
						.h4 Доставка
						table
							+tr('Город', 'Москва')
							+tr('Доставим', 'за 1700₽')
							+tr('Сборка', 'от 1 000₽')
							+tr('Подъем', '100₽ за этаж/1 коробка')
					+e.characteristics-item
						.h4 Оплата
						table
							+tr('Яндекс касса')
							+tr('Выставить счет', 'Оплата через банк') 
				
				
	// end sProdBody