mixin sProdHead(data)
	// start sProdHead
	+b.SECTION.sProdHead.section#sProdHead&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProdHead
				
			+e.row.row
	// end sProdHead