//- breadcrumb
mixin breadcrumb(...items)
	.breadcrumb-slider--js.splide
		nav(aria-label="breadcrumb" ).splide__track
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList").splide__list
				-for (var i = 0; i < items.length; i++)
					li.breadcrumb-item( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem").splide__slide
						a(href=(i == 0 ? "/" : '#') itemprop="item" )
							span( itemprop="name")= items[i]
							meta(itemprop="position" content= (i + 1) )